<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>
    <meta charset="utf-8">
   
        <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      { "parsetags": "explicit" }
    </script>
  </head>
  <body>
      <header>
          <div class="logo-main-wrap">
            <img src="assets/img/logo-main.png" height="300" width="439" alt="">
          </div>
          <div class="hd1">
            <div class="center">
              <div class="tel-wrap">
                <span>Отдел продаж: (4752) 78-07-76</span>
              </div>
              <div class="tel-wrap">
                <span>
                  Отдел маркетинга: (4752) 78-06-15
                </span>
              </div>
            </div>
          </div>

          <div class="hd2">
            <div class="center">
              <ul class="main-menu">
                <li><a href="" class = "home"></a></li>
                <li><a href="">Продукция</a></li>
                <li><a href="">Производство</a></li>
                <li><a href="">Партнерам</a></li>
                <li><a href="">Благотворительность</a></li>
                <li><a href="">О компании</a></li>
                <li><a href="">Контакты</a></li>
              </ul>
            </div>
          </div>

      </header>
     <div class="container" ui-view="main"></div>
  </body>
</html>
